@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>Hello @Session["Username"]</p>
    <p class="lead">Welcome to belfast weather forcast.</p>
</div>

<div>
    <a href="@Url.Action("LogOut", "Account")">LogOut</a>
</div>
